#head {
    display: flex;
    flex-direction: row;
    margin: 25px;
    background-color: white;
    justify-content: left;
    margin-bottom: 2em;
}

.navLink a {
    font-size: x-large;
    color: black;
    text-decoration: none;
}

